/* unselectable elements*/
body, p, img {
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

html {
    /*font-family: 'CustomFont', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

header {
    text-align: center;
    color: #add8e6;
    font-size: 30px;
}

header h1 {
    margin: 0;
    margin-bottom: 10px;
}

header a{
    text-decoration: none;
    color: #add8e6;
}

header h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #cecece;
    margin: 0;
    margin-bottom: 20px;
}

nav {
    /*background-color: #add8e6;*/
    background-color: #00000052;
    height: 80px;
    margin-bottom: 0px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    display: inline-block;
    font-size: 22px;
    margin: 20px;
    margin-top: 7px;
  }
  
  nav a {
    display: block;
    padding: 20px;
    color: #cecece;
    text-decoration: none;
    transition: padding 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: black;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 22px; /* Increase the padding to make the button slightly bigger */
  }
  
  nav li a.active {
    background-color: #72c0d9;
    border-radius: 15px;
    color: black;
  }

.step-back {
    display: inline-block;
    margin: 20px 0px 20px 20px;
    transition: margin-left 0.3s, box-shadow 0.3s;
}

.step-back a {
    display: block;
    padding: 15px;
    background-color: #72c0d9;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.step-back:hover {
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.footer {
    font-weight:normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d2d2d;
    color: #72c0d9;
    padding: 5px;
    bottom: 0px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

.footer p {
    margin: 0;
}

model-viewer {
    width:100%;
    height:700px;
    background-color:rgba(80, 80, 80, 0);
}

.modelTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.viewportContainer {
    width: 100%;
    height: 700px;
    background-color: rgba(80, 80, 80, 0);
    border: 3px solid #72c0d9;
    border-radius: 15px;
}

.textContainer {
    width: 40%;
    padding: 20px;
    padding-top: 5px;
}

.textContainer h2 {
    color: #72c0d9;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 31px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.textContainer p {
    font-size: 16px;
    line-height: 1.5;
    color: #cecece;
    font-family:'Courier New', Courier, monospace;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
  
.buttonsContainer button {
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 18px;
    color: black;
    background-color: #72c0d9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transition: margin-top 0.3s;
}

.buttonsContainer button:hover {
    background-color: #add8e6;
}

.buttonsContainer button:active {
    background-color: rgb(109, 109, 109);
}

.buttonsContainer button:nth-child(1):hover{
    margin-top: -8px;
}

.buttonsContainer button:nth-child(2):hover{
    margin-top: -8px;
}

.buttonsContainer button:nth-child(3):hover{
    margin-top: -8px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
    width: 80%;
    height: 80%;
}

.popup img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#fullscreenButton,
#toggleHotspots {
  background-color: #333;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

#fullscreenButton:hover,
#toggleHotspots:hover {
  transform: translateY(3px);
}

#fullscreenButton img,
#toggleHotspots img {
  width: 30px;
  padding: 0px;
  margin: 0px;
}
  
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fade-out 1s ease-out forwards; /* Add fade-out animation */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #add8e6;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade-out {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

.hotspot{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #72bfd954;
    border: 3px solid rgba(0, 0, 0, 0.629);
    box-sizing: border-box;
    pointer-events: auto;
  }

.annotation{
  border: 2px solid black;
  background-color: #888888;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
  display: none;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 1000px) {

    nav {
        background-color: #00000000;
      }

    .NavBar {
      text-align: center;
      padding: 20px;
      padding-bottom: 230px;
    }
    
    nav ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      z-index: 1;
    }
    
    nav li {
      margin-bottom: 10px;
    }
    
    .boxes-selection {
      margin-top: 20px;
    }

    .step-back {
      margin-top: 260px;
    }

    .modelTextContainer {
        display: block;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 10px;
        margin-right: 10px;
    }

    .viewportContainer {

        width: 90%;
        height: 700px;
        background-color: rgba(80, 80, 80, 0);
        border: 3px solid #72c0d9;
        border-radius: 15px;
    }

  }