body{
    background: rgb(101,103,105);
    background: linear-gradient(142deg, rgba(101,103,105,1) 10%, rgba(44,53,84,0.9271358201483718) 43%, rgba(210,68,20,0.9215335792520133) 93%);
    background-size: 100% 100% ;
    margin: 0;
}

.focus-mode {
    background-color: #4a4a4a;
    margin: 0;
}